$easeOutExpo:cubic-bezier(0.19, 1, 0.22, 1); /* easeOutExpo */
$easeInOutExpo:cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */


$primary:#263056; //rgba(38, 48, 86, 1)
$secondary:#888;

$red:#cf3d3d; //rgba(207, 61, 61, 1)
$blue:#263056;
$yellow:#fffb94;
